

.startDate { 
    height:30px; 
    width: 200px;   
    float: left;
    clear: left
  }

.ddlVenue{
    margin-top: 10px;
    height:30px; 
    width: 500px; 
    float: left;
    clear: left;
}

.ddlStartTime{
    margin-top: 10px;
    height:30px; 
    width: 200px; 
    float: left;
}

.container-Title {
    width: 100%;
    height: 60px;
}


.imgNav{
    width: 650px;
    height: 200px;
    margin-left: 364px
}

.container-CheckAvailability {
     width: 100px;
    height: 700px;

}

.container-Navigation{
    width: 100%;
}

.container-Date-Location-Time {
    margin-left: 560px;
    width: 100%;
    height: 10%;
}

.container-Button{
    width: 800px;
    height: 90px;
    margin-top: 20px;
    float: left;
    clear: left;
    margin-left: 630px;
}
.btnProceed{
    float: left;
    font-family: Arial;
    color: #ffffff;
    background: #34d960;
    font-size: 20px;
    text-decoration: none;
    border-style: none;
}
.btnCancel{
    float: left;
    margin-left: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    border-style: none;
}


