/*****The outest content container*****/
.overall-container{
    margin-left: 24%;
    width: 100%;
    height: 1500px;
    color: #666666;
}

/*****Registration Form header*****/
.sign-up-header{
    margin-top:130px;
    margin-left:250px;
    margin-bottom:40px;
}

.lblRegistrationForm{
    position: relative;
    font-size: 24px;
    line-height: 24px;
    color: #435a65;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

/*****Personal information content*****/
.personal-information-label{
    border-top: 2px dotted #12ABE3;
    border-bottom: 2px dotted #12ABE3;
    border-style: none none solid none;
    width: 60%;
    float: left;
    clear: left;
}

.container-DOB{
    float:left;
    clear:left;
}

.lblDOB{
    float:left;
    clear:left;
}

.container-DOB-ddl{
    float:left;
    clear:left;
    margin-bottom:10px;
}

.container-DOB-ddlMonth{
    float:left;
    width:100px;
}

.DropDownListMonth{
    border: 1px solid #c4c4c4;
    height: 25px;
    width: 100%;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
    float: left;
    clear: left;
    top: 0px;
    left: 0px;
}
    .DropDownListMonth:focus {
        outline: none;
        border: 1px solid #7bc1f7;
        box-shadow: 0px 0px 8px #7bc1f7;
        -moz-box-shadow: 0px 0px 8px #7bc1f7;
        -webkit-box-shadow: 0px 0px 8px #7bc1f7;
    }

.container-DOB-ddlDay{
    float:left;
    width:100px;
}

.DropDownListDay{
    border: 1px solid #c4c4c4;
    height: 25px;
    width: 100%;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
    float: left;
    clear:left;
    top: 0px;
    left: 0px;
}
    .DropDownListDay:focus {
        outline: none;
        border: 1px solid #7bc1f7;
        box-shadow: 0px 0px 8px #7bc1f7;
        -moz-box-shadow: 0px 0px 8px #7bc1f7;
        -webkit-box-shadow: 0px 0px 8px #7bc1f7;
    }

.container-DOB-ddlYear{
    float:left;
    width:100px;
}
    
.DropDownListYear{
    border: 1px solid #c4c4c4;
    height: 25px;
    width: 100%;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
    float: left;
    clear:left;
    top: 0px;
    left: 0px;
}
    .DropDownListYear:focus {
        outline: none;
        border: 1px solid #7bc1f7;
        box-shadow: 0px 0px 8px #7bc1f7;
        -moz-box-shadow: 0px 0px 8px #7bc1f7;
        -webkit-box-shadow: 0px 0px 8px #7bc1f7;
    }

.container-gender-selection{
    float:left;
    clear:left;
    margin-bottom:10px;
}



.eror-message{
    float:left;
    clear:both;
}

/*Generalize styles*/
.header-container{
    border-bottom: 2px dotted #12ABE3;
    border-style: none none solid none;
    width: 760px;
    float: left;
    clear: left;
}

.header-image{
    width: 49px;
    height: 49px;
    float: left;
}

.header-label-container{
    float:left;
    margin-top:8px
}

.header-label{
    -webkit-border-top-left-radius: 30px;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-bottomleft: 30px;
    -webkit-border-bottom-left-radius: 30px;
    height: 20px;
    width: 220px;
    font-size: 17pt;
}

.content-section-holder{
    float:left;
    clear:left;
    width: 970px;
}

.content-label{
    margin-top: 5px;
    float: left;
    clear: left;
    font-size: 16px;
    font-weight: bold;
}

.content-input{
    border: 1px solid #c4c4c4;
    height: 28px;
    width: 100%;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
    width:760px;
    float: left;
    clear: left;
    top: 0px;
    left: 0px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.help-note{
    float:left;
    clear:left;
    font-style:italic;
}


.container-button{
    float:left;
    clear:left;
}

.container-button-submit{
    float:left;
}

.container-button-cancel{
    float:left;
}

.ItemMale{
    float:left;
    margin-right:20px;
}
.ItemFemale{
    float:left;

}

.btnSubmit{
    background-color:#A5DC86;
    border:none;
    cursor:pointer;
    margin-top:22px;
    margin-bottom:75px;
    clear:both;
    margin-left:-10px;
    color:white;
    font-size:16px;
    height:50px;
    width:380px;
    margin-right:20px;
}

.btnSubmit:hover{
    background-color:white;
    border:1px solid deepskyblue;
    color:deepskyblue;
}

.btnCancel{
    background-color:#DD6B55;
    border:none;
    cursor:pointer;
    margin-top:22px;
    margin-bottom:75px;
    clear:both;
    margin-left:-10px;
    color:white;
    font-size:16px;
    height:50px;
    width:380px;
    float:left;
    
}

.btnCancel:hover{
    background-color:white;
    border:1px solid deepskyblue;
    color:deepskyblue;
}
