/*****The outest content container*****/
.top-background-container{
    width:100%;
    margin-top:40px;
    float:left;
    clear:left;
}

.middle-background-container{
    padding-top:80px;
    float: left;
    clear: left;
    width: 100%;
    background-color: #CDEAEE;
    padding-bottom:80px;
}

.bottom-background-container{
    margin-top:80px;
    width: 100%;
    float: left;
    clear: left;
}

/*****Generalize styles*****/
.header-container{
    border-bottom: 2px dotted #12ABE3;
    border-style: none none solid none;
    width: 640px;
    float: left;
    clear: left;
}

.header-image{
    width: 50px;
    height: 50px;
    float: left;
}

.header-label-container{
    float:left;
    margin-top:8px
}

.header-label{
    padding-top:10px;
    margin-left:10px;
    width: 220px;
    font-size: 20pt;
}

.container-section-holder{
    float:left;
    clear:left;
    width: 640px;
    height:100px;
}

.content-label{
    margin-top: 13px;
    float: left;
    clear: left;
    font-size: 16px;
    font-weight: bold;
}

.content-input{
    border: 1px solid #c4c4c4;
    height: 35px;
    font-size: 16px;
    margin-top: 3px;
    width: 622px;
    padding: 4px 4px 4px 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    float: left;
    clear: left
}

.error-message{
    color:red;
    float:left;
    clear:left;
}


/*****Registration Form header*****/
.sign-up-header{
    margin-top:130px;
    position:relative;
}

.lblRegistrationForm{
    margin-left:258px;
    font-size: 30px;
    line-height: 30px;
    color: #435a65;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom:10px;
}

.header-tag{
 
    font-size:18px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom:40px;
    float:left;
    clear:left;
}

.lblRegistrationNote{
    margin-left:115px;
    float:left;
    clear:left;
}

/*****Date Of Birth Area*****/

.container-DOB{
    height:80px;
    float:left;
    clear:left;
}

.container-DOB-ddl{
    float:left;
    clear:left;
    margin-bottom:10px;
}

.container-DOB-ddlMonth{
    float:left;
    height:35px;
    width:200px;
    margin-right:20px;
}

.DropDownListMonth{
    border-radius:4px;
    height: 45px;
    width: 100%;
    font-size: 16px;
    padding: 4px 4px 4px 4px;
    float: left;
    clear:left;
}
    .DropDownListMonth:focus {
        outline: none;
        border: 1px solid #7bc1f7;
        box-shadow: 0px 0px 8px #7bc1f7;
        -moz-box-shadow: 0px 0px 8px #7bc1f7;
        -webkit-box-shadow: 0px 0px 8px #7bc1f7;
    }

.container-DOB-ddlDay{
    float:left;
    width:200px;
    margin-right:20px;
}

.DropDownListDay{
    border-radius:4px;
    height: 45px;
    width: 100%;
    font-size: 16px;
    padding: 4px 4px 4px 4px;
    float: left;
    clear:left;
}
    .DropDownListDay:focus {
        outline: none;
        border: 1px solid #7bc1f7;
        box-shadow: 0px 0px 8px #7bc1f7;
        -moz-box-shadow: 0px 0px 8px #7bc1f7;
        -webkit-box-shadow: 0px 0px 8px #7bc1f7;
    }

.container-DOB-ddlYear{
    float:left;
    height:35px;
    width:200px;
}
    
.DropDownListYear{
    border-radius:4px;
    height: 45px;
    width: 100%;
    font-size: 16px;
    padding: 4px 4px 4px 4px;
    float: left;
    clear:left;
}
    .DropDownListYear:focus {
        outline: none;
        border: 1px solid #7bc1f7;
        box-shadow: 0px 0px 8px #7bc1f7;
        -moz-box-shadow: 0px 0px 8px #7bc1f7;
        -webkit-box-shadow: 0px 0px 8px #7bc1f7;
    }

/*****Gender Area *****/
.container-gender-selection{
    float:left;
    clear:left;
    
    margin-bottom:80px;
}

.ItemMale{
    float:left;
    font-size: 16px;
    margin-right:20px;
}
.ItemFemale{
    float:left;
    font-size:16px;
}



/*****Button Design*****/

.container-button{
    float:left;
    clear:left;
}

.container-button-submit{
    float:left;
}

.container-button-cancel{
    float:left;
}



.btnSubmit{
    background-color:#A5DC86;
    border:none;
    cursor:pointer;
    margin-top:22px;
    margin-bottom:75px;
    clear:both;
    margin-left:-10px;
    color:white;
    font-size:16px;
    height:50px;
    width:300px;
    margin-left:10px;
    margin-right:10px;
}

.btnSubmit:hover{
    background-color:white;
    border:1px solid deepskyblue;
    color:deepskyblue;
}

.btnCancel{
    background-color:#DD6B55;
    border:none;
    cursor:pointer;
    margin-top:22px;
    margin-bottom:75px;
    clear:both;
    margin-left:-10px;
    color:white;
    font-size:16px;
    height:50px;
    width:300px;
    float:left;
    margin-left:10px;
    margin-right:10px;
}

.btnCancel:hover{
    background-color:white;
    border:1px solid deepskyblue;
    color:deepskyblue;
}
